[submodule "huff-rs"]
	path = huff-rs
	url = https://github.com/jwasinger/huff-rs
[submodule "templates/invmod/addchain"]
	path = templates/invmod/addchain
	url = https://github.com/jwasinger/addchain
[submodule "go-ethereum"]
	path = go-ethereum
	url = https://github.com/jwasinger/go-ethereum
