[submodule "huff-rs"]
	path = huff-rs
	url = https://github.com/jwasinger/huff-rs
[submodule "go-ethereum-eip5843"]
	path = go-ethereum-eip5843
	url = https://github.com/jwasinger/go-ethereum
[submodule "templates/inv_mod/addchain"]
	path = templates/inv_mod/addchain
	url = https://github.com/jwasinger/addchain
