loop_iter_{{i}}:

    // stack: scalar
    dup1
    0xf
    and
    // 9 gas

    // stack: table selection (0, 1, 2, 3)
    48
    mul
    $table_start_offset
    add
    // 12 gas

    // stack: selection memory offset
    48
    swap1
    $table_choice_offset
    codecopy
    // 18 gas

    // TODO loop body:
    // implemented with AddAndDouble4x
    // callf/retf = 5 + 3 = 8 gas
    
    // stack: scalar
    0x01
    shr
    // 6 gas
